image:
  repository: defendersd/defender.budget-tracker
  tag: latest
  pullPolicy: Always

ingress:
  enabled: true
  ingressClassName: traefik
  hosts:
    - host: argo-budget-tracker
      paths:
        - path: /
          pathType: Prefix
