image:
  repository: defendersd/identity
  tag: latest
  pullPolicy: Always

ingress:
  enabled: true
  ingressClassName: traefik
  hosts:
    - host: argo-identity
      paths:
        - path: /
          pathType: Prefix
