image:
  repository: defendersd/wallet
  tag: latest
  pullPolicy: Always

ingress:
  enabled: true
  ingressClassName: traefik
  hosts:
    - host: argo-wallet
      paths:
        - path: /
          pathType: Prefix

