replicaCount: 1
autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 90

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

resources:
  requests:
    cpu: "125m"
    memory: "256Mi"
  limits:
    cpu: "250m"
    memory: "512Mi"

configMapData:
  ASPNETCORE_ENVIRONMENT: "DockerDev"

secretName: basic-secret
