image:
  repository: defendersd/defender.notification
  tag: latest
  pullPolicy: Always

ingress:
  enabled: true
  ingressClassName: traefik
  hosts:
    - host: argo-notification
      paths:
        - path: /
          pathType: Prefix

