networks:
  external-network:
    external: true

x-service-base: &service-base
  build:
    context: .
    dockerfile: Dockerfile.Service
  networks:
    - external-network

x-service-local: &service-local
  profiles:
    - local
  environment:
    - ASPNETCORE_ENVIRONMENT=Local
  env_file:
    - ../secrets/secrets.local.list

x-service-dev: &service-dev
  profiles:
    - dev
  environment:
    - ASPNETCORE_ENVIRONMENT=Dev
  env_file:
    - ../secrets/secrets.dev.list

x-portal-base: &portal-base
  build:
    context: .
    dockerfile: Dockerfile.Portal
  networks:
    - external-network

services:
  local-identity-service:
    <<: [*service-base, *service-local]
    build:
      context: .
      dockerfile: Dockerfile.Service
      args:
        SERVICE_DIR: Defender.IdentityService
    image: local-identity-service
    container_name: LocalIdentityService
    ports:
      - "47050:8080"

  dev-identity-service:
    <<: [*service-base, *service-dev]
    build:
      context: .
      dockerfile: Dockerfile.Service
      args:
        SERVICE_DIR: Defender.IdentityService
    image: local-identity-service
    container_name: LocalIdentityService
    ports:
      - "47050:8080"

  local-user-management-service:
    <<: [*service-base, *service-local]
    build:
      context: .
      dockerfile: Dockerfile.Service
      args:
        SERVICE_DIR: Defender.UserManagementService
    image: local-user-management-service
    container_name: LocalUserManagementService
    ports:
      - "47051:8080"

  dev-user-management-service:
    <<: [*service-base, *service-dev]
    build:
      context: .
      dockerfile: Dockerfile.Service
      args:
        SERVICE_DIR: Defender.UserManagementService
    image: local-user-management-service
    container_name: LocalUserManagementService
    ports:
      - "47051:8080"

  local-notification-service:
    <<: [*service-base, *service-local]
    build:
      context: .
      dockerfile: Dockerfile.Service
      args:
        SERVICE_DIR: Defender.NotificationService
    image: local-notification-service
    container_name: LocalNotificationService
    ports:
      - "47052:8080"

  dev-notification-service:
    <<: [*service-base, *service-dev]
    build:
      context: .
      dockerfile: Dockerfile.Service
      args:
        SERVICE_DIR: Defender.NotificationService
    image: local-notification-service
    container_name: LocalNotificationService
    ports:
      - "47052:8080"

  local-portal:
    <<: [*portal-base, *service-local]
    build:
      context: .
      dockerfile: Dockerfile.Portal
      args:
        SERVICE_DIR: Defender.Portal
    image: local-portal
    container_name: LocalPortal
    ports:
      - "47053:8080"

  dev-portal:
    <<: [*portal-base, *service-dev]
    build:
      context: .
      dockerfile: Dockerfile.Portal
      args:
        SERVICE_DIR: Defender.Portal
    image: local-portal
    container_name: LocalPortal
    ports:
      - "47053:8080"

  # local-secret-management-service:
  #   <<: [*service-base, *service-local]
  #   build:
  #     context: .
  #     dockerfile: Dockerfile.Service
  #     args:
  #       SERVICE_DIR: Defender.SecretManagementService
  #   image: local-secret-management-service
  #   container_name: LocalSecretManagementService
  #   ports:
  #     - "47056:80"
  #
  # dev-secret-management-service:
  #   <<: [*service-base, *service-dev]
  #   build:
  #     context: .
  #     dockerfile: Dockerfile.Service
  #     args:
  #       SERVICE_DIR: Defender.SecretManagementService
  #   image: local-secret-management-service
  #   container_name: LocalSecretManagementService
  #   ports:
  #     - "47056:80"

  local-job-scheduler-service:
    <<: [*service-base, *service-local]
    build:
      context: .
      dockerfile: Dockerfile.Service
      args:
        SERVICE_DIR: Defender.JobSchedulerService
    image: local-job-scheduler-service
    container_name: LocalJobSchedulerService
    ports:
      - "47057:8080"

  dev-job-scheduler-service:
    <<: [*service-base, *service-dev]
    build:
      context: .
      dockerfile: Dockerfile.Service
      args:
        SERVICE_DIR: Defender.JobSchedulerService
    image: local-job-scheduler-service
    container_name: LocalJobSchedulerService
    ports:
      - "47057:8080"

  local-wallet-service:
    <<: [*service-base, *service-local]
    build:
      context: .
      dockerfile: Dockerfile.Service
      args:
        SERVICE_DIR: Defender.WalletService
    image: local-wallet-service
    container_name: LocalWalletService
    ports:
      - "47058:8080"

  dev-wallet-service:
    <<: [*service-base, *service-dev]
    build:
      context: .
      dockerfile: Dockerfile.Service
      args:
        SERVICE_DIR: Defender.WalletService
    image: local-wallet-service
    container_name: LocalWalletService
    ports:
      - "47058:8080"

  local-general-testing-service:
    <<: [*service-base, *service-local]
    build:
      context: .
      dockerfile: Dockerfile.Service
      args:
        SERVICE_DIR: Defender.GeneralTestingService
    image: local-general-testing-service
    container_name: LocalGeneralTestingService
    ports:
      - "47059:8080"

  dev-general-testing-service:
    <<: [*service-base, *service-dev]
    build:
      context: .
      dockerfile: Dockerfile.Service
      args:
        SERVICE_DIR: Defender.GeneralTestingService
    image: local-general-testing-service
    container_name: LocalGeneralTestingService
    ports:
      - "47059:8080"

  local-risk-games-service:
    <<: [*service-base, *service-local]
    build:
      context: .
      dockerfile: Dockerfile.Service
      args:
        SERVICE_DIR: Defender.RiskGamesService
    image: local-risk-games-service
    container_name: LocalRiskGamesService
    ports:
      - "47060:8080"

  dev-risk-games-service:
    <<: [*service-base, *service-dev]
    build:
      context: .
      dockerfile: Dockerfile.Service
      args:
        SERVICE_DIR: Defender.RiskGamesService
    image: local-risk-games-service
    container_name: LocalRiskGamesService
    ports:
      - "47060:8080"

  local-budget-tracker-service:
    <<: [*service-base, *service-local]
    build:
      context: .
      dockerfile: Dockerfile.Service
      args:
        SERVICE_DIR: Defender.BudgetTracker
    image: local-budget-tracker-service
    container_name: LocalBudgetTrackerService
    ports:
      - "47061:8080"

  dev-budget-tracker-service:
    <<: [*service-base, *service-dev]
    build:
      context: .
      dockerfile: Dockerfile.Service
      args:
        SERVICE_DIR: Defender.BudgetTracker
    image: local-budget-tracker-service
    container_name: LocalBudgetTrackerService
    ports:
      - "47061:8080"

  mongo_local:
    container_name: "mongo_local"
    image: mongo:7.0
    command: ["--replSet", "rs0", "--bind_ip_all", "--port", "27017"]
    ports:
      - 27017:27017
    healthcheck:
      test: echo "try { rs.status() } catch (err) { rs.initiate({_id:'rs0',members:[{_id:0,host:'host.docker.internal:27017'}]}) }" | mongosh --port 27017 --quiet
      interval: 5s
      timeout: 30s
      start_period: 0s
      start_interval: 1s
      retries: 30
    volumes:
      - "mongo_local_data:/data/db"
      - "mongo_local_config:/data/configdb"

  local-postgres-service:
    image: postgres:16
    container_name: local-postgres-service
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=cache_database
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - external-network

  local-zookeeper:
    image: wurstmeister/zookeeper:latest
    container_name: local-zookeeper
    ports:
      - "2181:2181"
    networks:
      - external-network

  local-kafka-service:
    image: wurstmeister/kafka:latest
    container_name: local-kafka-service
    environment:
      - KAFKA_ZOOKEEPER_CONNECT=local-zookeeper:2181
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://local-kafka-service:9092
      - KAFKA_AUTO_CREATE_TOPICS_ENABLE=true
      - KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:9092
    ports:
      - "9092:9092"
    networks:
      - external-network

  local-kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: local-kafka-ui
    ports:
      - "8080:8080"
    environment:
      - KAFKA_CLUSTERS_0_NAME=local
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=local-kafka-service:9092
    networks:
      - external-network

  local-pgadmin:
    image: dpage/pgadmin4:latest
    container_name: local-pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@example.com
      - PGADMIN_DEFAULT_PASSWORD=admin
    ports:
      - "5050:80"
    networks:
      - external-network

volumes:
  mongo_local_data:
  mongo_local_config:
  postgres_data:
